{% extends "layout.html" %}
{% block head %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('entry.static',filename='javascript/index.js') }}"  > </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('entry.static',filename='css/default.css') }}"  />

    <script type="text/javascript">


    var _menus = {
        "menus":[
            {"menuid":"1","icon":"icon-server","menuname":"服务器",
                "menus":[
                            {"menuid":"12","menuname":"服务器1","icon":"icon-server-node","url":"http://www.baidu.com" },
                            {"menuid":"13","menuname":"服务器2","icon":"icon-server-node","url":""},
                            {"menuid":"14","menuname":"服务器3","icon":"icon-server-node","url":""}
                        ]
            },
            {"menuid":"2","icon":"icon-client","menuname":"客户端",
                "menus":[
                            {"menuid":"21","menuname":"客户端a","icon":"icon-client-node","url":""},
                            {"menuid":"22","menuname":"客户端b","icon":"icon-client-node","url":""}
                        ]
            },
            {"menuid":"3","icon":"icon-config","menuname":"配置",
                "menus":[
                            {"menuid":"300","menuname":"角色管理","icon":"icon-nav","url":"{{url_for('info.show_admin')}}"},
                            {"menuid":"301","menuname":"权限管理","icon":"icon-nav","url":"{{url_for('info.show_right')}}"},
                            {"menuid":"302","menuname":"机器信息","icon":"icon-nav","url":"{{url_for('info.show_machine')}}"},
                            {"menuid":"303","menuname":"应用信息","icon":"icon-nav","url":"{{url_for('info.show_app')}}"},
                            {"menuid":"304","menuname":"任务信息","icon":"icon-nav","url":"{{url_for('info.show_job')}}"},
                            {"menuid":"305","menuname":"产品管理","icon":"icon-nav","url":"{{url_for('info.show_product')}}"},
                            {"menuid":"306","menuname":"证券信息","icon":"icon-nav","url":"{{url_for('info.show_secuinfo')}}"},
                            {"menuid":"307","menuname":"账户信息","icon":"icon-nav",
                                 "child":[
                                            {"menuid":"351","menuname":"交易账户","icon":"icon-nav","url":"{{url_for('info.show_trade')}}"},
                                            {"menuid":"352","menuname":"用户账户","icon":"icon-nav","url":"{{url_for('info.show_user')}}"},
                                            {"menuid":"353","menuname":"市场账户","icon":"icon-nav","url":"{{url_for('info.show_exchange')}}"}
                                         ]},
                            {"menuid":"308","menuname":"仓位信息","icon":"icon-nav","url":"{{url_for('info.show_position')}}"},
                            {"menuid":"309","menuname":"策略信息","icon":"icon-nav",
                                 "child":[
                                            {"menuid":"361","menuname":"基础信息","icon":"icon-nav","url":""},
                                            {"menuid":"362","menuname":"合约信息","icon":"icon-nav","url":""},
                                            {"menuid":"363","menuname":"参数信息","icon":"icon-nav","url":""},
                                            {"menuid":"364","menuname":"控制信息","icon":"icon-nav","url":""},
                                            {"menuid":"365","menuname":"指令信息","icon":"icon-nav","url":""}
                                         ]},
                            {"menuid":"310","menuname":"策略部署","icon":"icon-nav",
                                 "child":[
                                            {"menuid":"371","menuname":"策略在应用","icon":"icon-nav","url":"{{url_for('info.show_strategyinapp')}}"},
                                            {"menuid":"372","menuname":"策略在产品","icon":"icon-nav","url":"{{url_for('info.show_strategyinproduct')}}"}
                                         ]
                            }
                        ]
            },
            {"menuid":"4","icon":"icon-monitor","menuname":"监控",
                "menus":[
                            {"menuid":"400","menuname":"订单信息","icon":"icon-nav","url":"{{url_for('monitor.show_record')}}"},
                            {"menuid":"401","menuname":"账户信息","icon":"icon-nav","url":"{{url_for('monitor.show_account')}}"},
                            {"menuid":"402","menuname":"仓位信息","icon":"icon-nav","url":"{{url_for('monitor.show_position')}}"},
                            {"menuid":"403","menuname":"消息信息","icon":"icon-nav","url":"{{url_for('monitor.show_message')}}"}
                        ]
            },
            {"menuid":"5","icon":"icon-monitor","menuname":"风控",
                "menus":[
                            {"menuid":"500","menuname":"订单信息","icon":"icon-nav","url":""}
                        ]
            },
            {"menuid":"6","icon":"icon-monitor","menuname":"报表",
                "menus":[
                            {"menuid":"600","menuname":"订单信息","icon":"icon-nav","url":""}
                        ]
            }
	    ]
	};
    
    </script>

{% endblock %}

{% block body %}
  <body class="easyui-layout">

  <div id="head" data-options="region:'north',border:false" style="height:75px;background:#B3DFDA;padding:10px"><h1>运维管理系统</h1></div>
  
  <div data-options="region:'west',split:true" style="width:200px" title="功能栏">
  <div id="nav">
  <!-- 脚本加载 -->
  </div>
  </div>

  <div id="foot" data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">
  <div class="footer">CopyRight By Lay</div>
  </div>

  <div id="main" data-options="region:'center',title:'主窗体'">
  <div id="tabs" class="easyui-tabs" data-options="tabPosition:'bottom',fit:true, border:false,plain:true,pill:true" >

  </div>

  </div>

</body>
{% endblock %}
