{% extends "monitor_layout.html" %}
{% import "macro/qts_macro_treegrid.html" as qts_tg %}

{% block body %}

    {% set geturl = 'monitor.get_account' %}

    <div class="easyui-tabs" style="width:auto;height:auto">
        <div title="{{ reses['gwaccount'] }}" style="padding:10px">
            {{ qts_tg.qts_tg_table("gwtg",fields,texts,colsize,treeindex=0,geturl=geturl,dbname='qts_gw_backup',
                                    title="account",style="width:auto;height:auto",
                                    toptions="
                                        rownumbers: true,
                                        animate: true,
                                        collapsible: true,
                                        fitColumns: true,
                                        method: 'get',
                                        idField: 'id',
                                        pagination: true")
            }}
        </div>

        <div title="{{ reses['ssaccount'] }}" style="padding:10px">
            {{ qts_tg.qts_tg_table("sstg",fields,texts,colsize,treeindex=0,geturl=geturl,dbname='qts_ss_backup',
                                    title="account",style="width:auto;height:auto",
                                    toptions="
                                        rownumbers: true,
                                        animate: true,
                                        collapsible: true,
                                        fitColumns: true,
                                        method: 'get',
                                        idField: 'id',
                                        pagination: true")
            }}
        </div>
    </div>
{% endblock %}